<!DOCTYPE html>
<html>
  <head>
    <title>Create Employee</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/heroes"> < Back</a></h3>

      <!-- verifcar se é enviado o id do heroi-->
      <% if(locals.hero) { %>
        <h1>Edit Hero</h1>
      <% } else { %>
        <h1>Register New Hero</h1>
      <% } %>

      <% if(locals.hero) { %>
        <%= hero._id%>
        <form action="/heroes/update/<%= hero._id%>" method="post">
      <% } else { %>
        <form action="/heroes/save" method="post">        
      <% } %> 
      
        <table>
          <tbody>
            <tr>
              <td>Name</td>
              <% if(locals.hero) { %>
                <td><input type="text" name="name" value="<%=locals.hero.name%>"/></td>                
              <% } else { %>
                <td><input type="text" name="name" /></td>
              <% } %> 

            </tr>
            <tr>
              <td>Studio</td>
              <td>
                  <select name="studio">
                      <% var options = []; %>
                      <% for(var i = 0; i <= 12; i++) { %>
                        <option value='<%= i %>'><%= i %></option>
                      <% } %>
                    </select>
              </td>
            </tr>
            <tr>
              <td>Power</td>
              <% if(locals.hero) { %>
                <td><input type="text" name="power" value="<%=locals.hero.power%>" /></td>
              <% } else { %>
                <td><input type="text" name="power" /></td>
              <% } %> 
            </tr>
            <tr>
              <td>Weakness</td>
              <% if(locals.hero) { %>
                <td><input type="text" name="weakness" value="<%=hero.weakness%>" /></td>
              <% } else { %>
                <td><input type="text" name="weakness" /></td>
              <% } %> 
            </tr>
            <tr>
                <% if(locals.hero) { %>
                  <td colspan="2"><input type="submit" value="Update" /></td>                  
                <% } else { %>
                  <td colspan="2"><input type="submit" value="Save" /></td>
                <% } %> 
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>
