<% include ../templates/header.html %>
	<% include ../templates/nav.html %>
  <div class="container">
    <a href="/heroes">
      <i class="material-icons left">chevron_left</i>
      <span>Back</span>
    </a>
      <!-- verifcar se é enviado o id do heroi-->
    <% if(locals.hero) { %>
      <h1>Edit Hero</h1>
    <% } else { %>
      <h1>Register New Hero</h1>
    <% } %>

    <% if(locals.validacao) { %>
    <% if (locals.validacao.length) { %>
				<div class="alert alert-danger">
					<strong>Attention!!!</strong>
					<ul>
						<% for(var i = 0; i < locals.validacao.length; i++) { %>
							<li>
								<%=locals.validacao[i].msg%>
							</li>
						<% } %>
					</ul>
				</div>
      <% } %>
      <% } %>


    <div class="row card">
      <% if(locals.hero) { %>
          <form action="/heroes/update/<%= hero._id%>" method="post" class="col s12">
        <% } else { %>
          <form action="/heroes/save" method="post" class="col s12">
        <% } %>

            <div class="input-field col s12">
              <% if(locals.hero) { %>
                <input id="name" name="name" type="text" class="validate" value="<%=locals.hero.name%>">
              <% } else { %>
                <input id="name" name="name" type="text" class="validate">
              <% } %>
              <label for="name">Name</label>
            </div>

            <div class="input-field col s12">
              <select name="studio">
                <% var options = []; %>
                <% for(var i = 0; i <= 12; i++) { %>
                  <option value='<%= i %>'><%= i %></option>
                <% } %>
              </select>
              <label>Studio</label>
            </div>

            <div class="input-field col s12">
              <% if(locals.hero) { %>
                <input id="power" name="power" type="text" class="validate" value="<%=locals.hero.power%>">
              <% } else { %>
                <input id="power" name="power" type="text" class="validate">
              <% } %>
              <label for="power">Power</label>
            </div>

            <div class="input-field col s12">
              <% if(locals.hero) { %>
                <input id="weakness" name="weakness" type="text" class="validate" value="<%=locals.hero.weakness%>">
              <% } else { %>
                <input id="weakness" name="weakness" type="text" class="validate">
              <% } %>
              <label for="weakness">Weakness</label>
            </div>

            <div class="input-field col s12">
              <% if(locals.hero) { %>
                <input type="submit" value="Update" class="btn btn-form right" />
              <% } else { %>
                <input type="submit" value="Save" class="btn btn-form right" />
              <% } %>
            </div>
      </form>
    </div>
  </div>
<% include ../templates/footer.html %>
