<!DOCTYPE html>
<html>
  <head>
    <title>Employee Detail</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/heroes">Employee List</a></h3>
      <h1>Employee Detail</h1>
      <table>
        <tbody>
          <tr>
            <td>Name</td>
            <td>:</td>
            <td><%= hero.name %></td>
          </tr>
          <tr>
            <td>Address</td>
            <td>:</td>
            <td><%= hero.address %></td>
          </tr>
          <tr>
            <td>Position</td>
            <td>:</td>
            <td><%= hero.position %></td>
          </tr>
          <tr>
            <td>Salary</td>
            <td>:</td>
            <td>$<%= hero.salary %>/year</td>
          </tr>
        </tbody>
      </table>
      <h3><a href="/heroes/edit/<%= hero._id%>">EDIT</a></h3>
      <form action="/heroes/delete/<%= hero._id%>" method="post">
        <button type="submit">DELETE</button>
      </form>
    </div>
  </body>
</html>